
body
{
        
        background:#ebe8de;
        font-family: 'Open Sans', sans-serif;
        
}

.black-nav{
	height: 25px;
	width: 100%;
	background-color: black;
	text-align: left;
	padding-top: 8px;

}
ul.top-nav li{
	display:  inline;
	color: white;
	
	margin-left: 20px;
}
ul.top-nav li a{
	text-decoration: none;
	color: white;
	opacity: 0.6;
	}

.dropdown {
   position: relative;
  display: inline-block;

}

.dropbtn {
 background-color: black;
  color: white;
  padding: 3px;
  font-size: 13px;
  border: none;
  cursor: pointer;
  margin: 0 20px;
  width: 30px;
  opacity: 0.6;

}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: black;
  min-width: 200px;
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;*/
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  opacity: 0.6;
}

.dropdown-content a:hover {background-color: black;opacity: 1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: black;opacity: 1;}
.fa-angle-down
{
    /*margin-top: 4px;
    margin-left: 8px;*/
    float: left;
}

.white-nav1{
	height: 30px;
	width: 66%;
	background-color: white;
	float: left;
	padding-top: 10px;
	font-size: 14px;
	border-right: 2px;
	border-style: solid;
	border-color: #ebeef4;


}
.white-nav1 li{
	display: inline;
margin-left: 25px;

}
.white-nav1 li a{
	text-decoration: none;
	color: #bbbdc1;
}
.white-nav1 li a:hover{
	color: black;
}
.white-nav2{
	height: 40px;
	width: 33%;
	background-color: white;
	float: left;
	border-style: solid ;
	border-color: grey;
	border-left: 2px;
}
.find-out-notice{
	height: 20px;
	width: 100%;
	background-color: yellow;
	float: left;
}