
body{ 
	  background: white;
    font-family: 'Open Sans', sans-serif;       
}
.black-nav{
	height: 25px;
	width: 100%;
	background-color: black;
	text-align: left;
	padding-top: 8px;

}
.dropdown {
   position: relative;
  display: inline-block;

}

.dropbtn {
 background-color: black;
  color: white;
  padding: 3px;
  font-size: 13px;
  border: none;
  cursor: pointer;
  margin: 0 2px;
  width: 65px;
	opacity: 0.6;
	display: inline;

}
.dropdown-content {
  display: none;
	position: absolute;
  left: 0;
  background-color: black;
  min-width: 150px;
}
.dropdown-content a {
  color: white;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  opacity: 0.6;
}
<<<<<<< HEAD

.dropdown-content a:hover {background-color: black;opacity: 1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: black;opacity: 1;}
.fa-angle-down
{
    /*margin-top: 4px;
    margin-left: 8px;*/
    float: left;
    display: inline;
=======
.fa{
	display: inline;
}
.dropdown-content a:hover {
	background-color: black;
	opacity: 1;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown:hover .dropbtn {
	background-color: black;
	opacity: 1;
>>>>>>> 7f69dc32e9ddc998d7b9d4af84b9fae5f74d92f7
}
.white-nav1{
	height: 40px;
	width: 66.5%;
	background-color: white;
	float: left;
	font-size: 14px;
	line-height: 40px;
	border-right: 1px;
	border-style: solid;
	border-color: #d3d6db;
}
.white-nav1 li{
	display: inline;
	margin-left: 14px;

}
.white-nav1 li a{
	text-decoration: none;
	color: #a7aab1;
}
.white-nav1 li a:hover{
	color: black;
}
.white-nav2{
	height: 40px;
	width: 33%;
	background-color: white;
	float: left;
	border-style: solid ;
	border-color: #d3d6db;
	border-left: 2px;
}
.search-button{
	margin-top: 10px;
	margin-left: 10px;
}
.find-out-notice{
	clear: left;
	height: 20px;
	width: 100%;
	background-color: yellow;
	line-height: 15px;
	font-size: 15px;
	border-bottom: 1px solid white;
	padding-left: 14px;
	padding-top: 5px;
}
.main-body{
	width: 100%;
}
.main-body-left{
	margin-left: 0.5%;
	margin-right: 0.5%;
	width: 65.5%;
	height: 500px;
	background-image: url(assets/img/left.jpg);
	float: left;
}
.main-body-right{
	width: 33%;
	height: 500px;
	float: left;
	margin-right: 5px;
}
.main-body-right-top{
	width: 100%;
	height: 245px;
	margin-bottom: 10px;
	background-image: url(assets/img/right-top.png);
	background-size: cover;
}
.main-body-right-bottom{
	width: 100%;
	height: 245px;
	margin-top: 10px;
	background-image: url(assets/img/right-bottom.jpg);
	background-size: cover;
}

